<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 포그라운드 위치정보(FusedLocation) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  <!-- 이걸 선언하면 정밀 위치로 설정됩니다. -->

    <!-- 백그라운드 위치정보(FusedLocation) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HillToPlaystore"
        tools:targetApi="31">
        <activity
            android:name=".LocationActivity"
            android:exported="false"
            android:label="@string/title_activity_location"
            android:theme="@style/Theme.HillToPlaystore" />
        <activity
            android:name=".RiderLocationInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_rider_info"
            android:theme="@style/Theme.HillToPlaystore" />
        <activity
            android:name=".PrescriptionListActivity"
            android:exported="false"
            android:label="@string/title_activity_prescription_list"
            android:theme="@style/Theme.HillToPlaystore" />
        <activity
            android:name=".PrescriptionScanningActivity"
            android:exported="false"
            android:label="@string/title_activity_prescription_scanning"
            android:theme="@style/Theme.HillToPlaystore" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_user_info"
            android:theme="@style/Theme.HillToPlaystore" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HillToPlaystore">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="MyNavigationService"
            android:foregroundServiceType="location"></service>
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCWuUZSUw4OHGinSuGZRnG5ycY-FwvQuVY"/>

    </application>

</manifest>